article,
details,
section,
summary,
aside,
main,
menu,
nav,
figcaption,
figure,
footer,
header,
hgroup {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
body {
  margin: 0;
}
a {
  text-decoration: none;
}
.centerBlock {
  margin: 0 auto;
}
.svgContainer {
  display: block;
}
.displayBlock {
  display: block;
}
.hidden_dragon {
  overflow: hidden;
}
.graduate_margin_bottom {
  margin-bottom: 24px;
}
.reverse_doctorate_margin_bottom {
  margin-bottom: -27px;
}
.magic_margin_bottom {
  margin-bottom: 108px;
}
.magic_padding_bottom {
  padding-bottom: 108px;
}
body {
  background-color: #323232;
}
.yellowFont {
  color: #ff0;
}
.yellowBG {
  background-color: #ff0;
}
.limeFont {
  color: #31cc31;
}
.limeBG {
  background-color: #31cc31;
}
.forestFont {
  color: #00582c;
}
.forestBG {
  background-color: #00582c;
}
.bloodFont {
  color: #bb001a;
}
.bloodBG {
  background-color: #bb001a;
}
.smokeFont {
  color: #323232;
}
.smokeBG {
  background-color: #323232;
}
.greyFont {
  color: #f1f1f1;
}
.greyBG {
  background-color: #f1f1f1;
}
@font-face {
  font-family: 'eur_b';
  font-weight: 700;
  font-style: normal;
  font-stretch: expanded;
  unicode-range: U+0-10FFFF;
  src: url("./../fonts/eurostile/EurostileLTPro-BoldEx2.ttf"), url("./../fonts/eurostile/EurostileLTPro-BoldEx2.woff");
}
@font-face {
  font-family: 'eur';
  font-weight: 400;
  font-style: normal;
  font-stretch: expanded;
  unicode-range: U+0-10FFFF;
  src: url("./../fonts/eurostile/EurostileLTPro.ttf"), url("./../fonts/eurostile/EurostileLTPro.woff");
}
@font-face {
  font-family: 'ath';
  src: url("./../fonts/athelas/Athelas-Regular.woff") format('woff');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-FB06;
}
.font_euro {
  font-family: 'eur';
  font-weight: 400;
  font-style: normal;
}
.font_euro_b {
  font-family: 'eur_b';
  font-weight: 700;
  font-style: normal;
}
.font_ath {
  font-variant-ligatures: discretionary-ligatures;
  font-family: 'ath';
  font-weight: 400;
  font-style: normal;
}
html {
  font-size: 1.125em;
}
body {
  color: #f1f1f1;
  font-family: 'ath';
  font-weight: 400;
  line-height: 1.45;
}
p {
  margin-bottom: 1.3em;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
p,
ul,
ol,
dl,
dd,
figure,
blockquote,
details,
hr,
fieldset,
pre,
table {
  margin: 0 0 1.5rem;
}
.tera {
  font-size: 3.583em;
  line-height: 1.255930784259001;
}
.giga {
  font-size: 2.98656em;
  line-height: 1.004500160720026;
}
.mega {
  font-size: 2.4888em;
  line-height: 1.205400192864031;
}
h1,
.h1 {
  margin-top: 0;
  font-size: 2.074em;
  line-height: 1.446480231436837;
}
h2,
.h2 {
  font-size: 1.728em;
  line-height: 1.736111111111111;
}
h3,
.h3 {
  font-size: 1.44em;
  line-height: 1.041666666666667;
}
h4,
.h4 {
  font-size: 1.2em;
  line-height: 1.25;
}
h5,
.h5 {
  font-size: 1em;
  line-height: 1.5;
}
h6,
.h6 {
  font-size: 0.8333em;
  line-height: 1.800072002880115;
}
small,
.font_small {
  font-size: 0.8333em;
  line-height: 1.800072002880115;
}
.milli {
  font-size: 0.6944em;
  line-height: 2.160138248847926;
}
.micro {
  font-size: 0.5786em;
  line-height: 2.592464569650881;
}
.nano {
  font-size: 0.4822em;
  line-height: 3.110742430526752;
}
.pull {
  margin-top: 1.5rem;
}
.pull-none {
  margin-top: 0;
}
.push {
  margin-bottom: 1.5rem;
}
.push-none {
  margin-bottom: 0;
}
.push-double {
  margin-bottom: 3rem;
}
.push-half {
  margin-bottom: 0.75rem;
}
.gutter {
  padding: 0 1.5rem 0 1.5 rem;
}
.island {
  padding: 1.5rem;
}
.oreo {
  padding: 1.5rem 0 1.5rem 0;
}
.capitalize {
  text-transform: capitalize;
}
.uppercase {
  text-transform: uppercase;
}
.centext {
  text-align: center;
}
.lineheight_one {
  line-height: 1;
}
.header_brakes {
  max-height: 54px;
  overflow: hidden;
}
.levitate_87 {
  top: -87px;
}
.underline-none {
  text-decoration: none;
}
