normalize-html5()

body 
    margin 0

a
    text-decoration: none

.centerBlock 
    margin 0 auto

.svgContainer 
    display: block

.displayBlock
    display: block

.hidden_dragon
    overflow: hidden

.graduate_margin_bottom
    margin-bottom: 24px

.reverse_doctorate_margin_bottom
    margin-bottom: -27px

.magic_margin_bottom
    margin-bottom: 108px

.magic_padding_bottom
    padding-bottom: 108px