$yellow = #ffff00
$lime   = #31cc31
$forest = #00582c
$blood  = #bb001a
$smoke  = #323232
$grey   = #f1f1f1

body 
    background-color: $smoke

.yellowFont 
    color: $yellow

.yellowBG
    background-color: $yellow

.limeFont 
    color: $lime

.limeBG
    background-color: $lime

.forestFont
    color: $forest

.forestBG
    background-color: $forest

.bloodFont
    color: $blood

.bloodBG
    background-color: $blood

.smokeFont 
    color: $smoke

.smokeBG
    background-color: $smoke

.greyFont
    color: $grey

.greyBG
    background-color: $grey